{extend name="Public:base" /}
{block name="title"}空间概览{/block}
{block name="main"}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="{:url('User/index')}">{:lang('user_index_tab1_title')}</a></li>
                    <li role="presentation" class="active"><a href="{:url('UserKey/index')}">{:lang('user_index_tab2_title')}</a></li>
                    <li role="presentation"><a href="{:url('User/changePassword')}">{:lang('user_index_tab3_title')}</a></li>
                </ul>
                <div class="jumbotron margin-top-20">
                    <p>{:lang('user_key_index_alert')}</p>
                </div>
                <table class="table margin-top-20">
                    <thead>
                        <tr>
                            <th>{:lang('user_key_index_title_create_time')}</th>
                            <th>{:lang('user_key_index_title_ak_sk')}</th>
                            <th>{:lang('user_key_index_title_status')}</th>
                            <th>{:lang('user_key_index_title_operation')}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $k => $v}
                        <tr>
                            <td>{$v.create_time}</td>
                            <td>
                                <p>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="ak" class="col-sm-1 control-label">ak</label>
                                            <div class="col-sm-11">
                                                <input type="text" class="form-control" id="ak" value="{$v.access_key}" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sk" class="col-sm-1 control-label">sk</label>
                                            <div class="col-sm-11">
                                                <div class="input-group">
                                                    <input type="password" class="form-control" value="{$v.secret_key}" disabled>
                                                    <div class="input-group-addon secret_key_show">{:lang('user_key_index_secret_key_show')}</div>
                                                    <div class="input-group-addon secret_key_hide">{:lang('user_key_index_secret_key_hide')}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </p>
                            </td>
                            <td>{:lang('user_key_status_' . $v['status'])}</td>
                            <td>
                                <?php if($v['status'] == \app\common\model\UserKey::STATUS_ON): ?>
                                    <button type="button" class="btn btn-warning ajax-confirm" data-url="{:url('changeStatusSave', ['id' => $v['id'], 'status' => \\app\\common\\model\\UserKey::STATUS_OFF])}" data-label="{:lang('user_key_button_set_status_off')}" data-body="{:lang('user_key_alert_set_status_off')}">{:lang('user_key_button_set_status_off')}</button>
                                <?php endif; ?>
                                <?php if($v['status'] == \app\common\model\UserKey::STATUS_OFF): ?>
                                    <a href="{:url('changeStatusSave', ['id' => $v['id'], 'status' => \\app\\common\\model\\UserKey::STATUS_ON])}" class="btn btn-default">{:lang('user_key_button_set_status_on')}</a>
                                    <button type="button" class="btn btn-danger ajax-confirm" data-url="{:url('delete', ['id' => $v['id']])}" data-label="{:lang('user_key_button_delete')}" data-body="{:lang('user_key_alert_delete')}">{:lang('user_key_button_delete')}</button>
                                <?php endif; ?>
                            </td>
                        </tr>
                    {/foreach}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                            {if count($list) < 2}
                                <a href="{:url('save')}" class="btn btn-default pull-right">{:lang('user_key_index_new')}</a>
                            {/if}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $(function () {
            $(".secret_key_hide").hide();
            $('#offModal').modal();
        });
        $(".secret_key_show").click(function () {
            $(this).hide();
            $(this).siblings(".secret_key_hide").show();
            $(this).siblings("input").attr('type', 'text');
        });
        $(".secret_key_hide").click(function () {
            $(this).hide();
            $(this).siblings(".secret_key_show").show();
            $(this).siblings("input").attr('type', 'password');
        });
    </script>
{/block}