{extend name="Public:base" /}
{block name="title"}空间概览{/block}
{block name="main"}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="{:url('User/index')}">{:lang('user_index_tab1_title')}</a></li>
                    <li role="presentation" class="active"><a href="{:url('UserKey/index')}">{:lang('user_index_tab2_title')}</a></li>
                    <li role="presentation"><a href="{:url('User/changePassword')}">{:lang('user_index_tab3_title')}</a></li>
                </ul>
                <div class="jumbotron margin-top-20">
                    <p>{:lang('user_key_index_alert')}</p>
                </div>
                <table class="table margin-top-20">
                    <thead>
                        <tr>
                            <th>{:lang('user_key_index_title_create_time')}</th>
                            <th>{:lang('user_key_index_title_ak_sk')}</th>
                            <th>{:lang('user_key_index_title_status')}</th>
                            <th>{:lang('user_key_index_title_operation')}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $k => $v}
                        <tr>
                            <td>{$v.create_time}</td>
                            <td>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="ak" class="col-sm-1 control-label">ak</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" id="ak" value="{$v.secret_key}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sk" class="col-sm-1 control-label">sk</label>
                                        <div class="col-sm-11">
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="sk" value="{$v.secret_key}" disabled>
                                                <div class="input-group-addon">隐藏</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td>{$v.create_time}</td>
                            <td>{$v.create_time}</td>
                        </tr>
                    {/foreach}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                            {if count($list) < 2}
                                <button type="button" class="btn btn-default pull-right">{:lang('user_key_index_new')}</button>
                            {/if}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{/block}