{extend name="Public:base" /}
{block name="title"}{:lang('login_index_title')}{/block}
{block name="main"}
    <div class="container">
        <div class="jumbotron">
            <h1>{:lang('index_index_welcome')}</h1>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>{:lang('version_title')}</td>
                    <td>{:config('app.version')}</td>
                </tr>
                <tr>
                    <td>{:lang('author_title')}</td>
                    <td>{:lang('author')}</td>
                </tr>
                <tr>
                    <td>{:lang('email_title')}</td>
                    <td>{:lang('email')}</td>
                </tr>
            </table>
        </div>
    </div>
{/block}