<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{block name="title"}{/block}</title>

        <link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet">
        <link href="__STATIC__/admin/css/style.css" rel="stylesheet">

        <script src="__STATIC__/admin/js/jquery-3.3.1.min.js"></script>
        <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
        <script src="__STATIC__/admin/js/bootstrap-alert.js"></script>
    </head>
    <body>
        {include file="Public:header" /}
        <div class="container" id="msg"></div>
        {block name="main"}{/block}
        {include file="Public:footer" /}
        <script type="application/javascript">
            $("form").submit(function () {
                $.ajax({
                    type: 'POST',
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    success:function (data){
                        $("#msg").rrsAlert('你好!');
                    },
                    error:function(){
                        alert('error')
                    }
                })
                return false;
            });
        </script>
    </body>
</html>