<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>{block name="title"}标题{/block}</title>
        <!-- Bootstrap -->
        <link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet">

        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="__STATIC__/admin/js/jquery-3.3.1.min.js"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
    </head>
    <body>
        {include file="Public:header" /}
        {block name="main"}主内容{/block}
    </body>
</html>