{extend name="Public:base" /}
{block name="title"}空间概览{/block}
{block name="main"}
<div class="container">
    <div class="row">
        <div class="col-md-2">

            <div class="list-group">
                <a href="{:url('create')}" class="list-group-item active">
                    {:lang('persistent_pipeline_index_new')}
                </a>
                {foreach $list as $k => $v}
                <a href="{:url('index', ['id' => $v->id])}" class="list-group-item">{$v.name}</a>
                {/foreach}
            </div>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li><a href="{:url('PersistentPipeline/index')}">{:lang("header_nav_title_persistent_pipeline")}</a></li>
                <li class="active">{:lang('persistent_pipeline_index_new')}</li>
            </ol>

            <form action="{:url('save')}" class="form-horizontal ajax-form">
                <div class="form-group">
                    <label class="col-sm-1" for="name"></label>
                    <div class="col-sm-11">
                        {:lang('persistent_pipeline_create_format_alert_name')}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="name"><font color="red">*</font>{:lang('persistent_pipeline_create_input_name')}</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="name" name="name" placeholder="{:lang('persistent_pipeline_create_input_name')}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <button type="submit" class="btn btn-default">{:lang('persistent_pipeline_create_button_submit')}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}