{extend name="Public:base" /}
{block name="title"}空间概览{/block}
{block name="main"}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="{:url('create')}" class="list-group-item">
                        {:lang('persistent_pipeline_index_new')}
                    </a>
                    {foreach $list as $k => $v}
                        <a href="{:url('index', ['id' => $v->id])}" class="list-group-item {if $info->id == $v->id}active{/if}">{$v.name}</a>
                    {/foreach}
                </div>
            </div>
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li><a href="{:url('PersistentPipeline/index')}">{:lang("header_nav_title_persistent_pipeline")}</a></li>
                    <li class="active">{$info.name}</li>
                </ol>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{:lang('bucket_index_table_th_name')}</th>
                            <th>{:lang('bucket_index_table_th_create_time')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                </div>
            </div>
        </div>
    </div>
{/block}