{extend name="Public:base" /}
{block name="title"}空间概览{/block}
{block name="main"}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="{:url('create')}">{:lang('bucket_index_new')}</a></li>
                    {foreach $list as $k => $v}
                        <li role="presentation"{if $info->id == $v->id} class="active"{/if}><a href="{:url('index', ['id' => $v->id])}">{$v.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="{:url('index', ['id' => $info->id])}">{:lang('bucket_index_tab1_title')}</a></li>
                    <li role="presentation" class="active"><a href="{:url('file', ['id' => $info->id])}">{:lang('bucket_index_tab2_title')}</a></li>
                    <li role="presentation"><a href="{:url('BucketDomain/create', ['id' => $info->id])}">{:lang('bucket_index_tab3_title')}</a></li>
                </ul>

                <div class="pull-right">
                    <form class="form-inline margin-top-10">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="{:lang('bucket_index_table_th_name')}">
                        </div>
                        <button type="submit" class="btn btn-default">{:lang('bucket_index_search_button_value')}</button>
                    </form>
                </div>

                <table class="table table-striped margin-top-10">
                    <thead>
                        <tr>
                            <th>{:lang('bucket_index_table_th_name')}</th>
                            <th>{:lang('bucket_index_table_th_create_time')}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach $file_list as $k => $v}
                        <tr>
                            <td>{$v.name}</td>
                            <td>{$v.create_time}</td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
                <div class="pull-right">
                    <?php echo $file_page; ?>
                </div>
            </div>
        </div>
    </div>
{/block}