{extend name="Public:base" /}
{block name="title"}空间概览{/block}
{block name="main"}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="{:url('create')}" class="list-group-item">
                        {:lang('bucket_index_new')}
                    </a>
                    {foreach $list as $k => $v}
                    <a href="{:url('index', ['id' => $v->id])}" class="list-group-item {if $info->id == $v->id}active{/if}">{$v.name}</a>
                    {/foreach}
                </div>
            </div>
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li><a href="{:url('Bucket/index')}">{:lang("header_nav_title_bucket")}</a></li>
                    <li><a href="{:url('Bucket/index', ['id' => $info->id])}">{$info.name}</a></li>
                    <li class="active">{:lang('bucket_index_tab1_title')}</li>
                </ol>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a>{:lang('bucket_index_tab1_title')}</a></li>
                    <li role="presentation"><a href="{:url('file', ['id' => $info->id])}">{:lang('bucket_index_tab2_title')}</a></li>
                    <li role="presentation"><a href="{:url('BucketDomain/create', ['bucket_id' => $info->id])}">{:lang('bucket_index_tab3_title')}</a></li>
                </ul>

                <table class="table table-striped margin-top-20">
                    <thead>
                        <tr>
                            <th>{:lang('bucket_index_table_th_name')}</th>
                            <th>{:lang('bucket_index_table_th_create_time')}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach $bucket_domain_list as $k => $v}
                        <tr>
                            <td>{$v.domain}</td>
                            <td>{$v.create_time}</td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
                <div class="pull-right">
                </div>
            </div>
        </div>
    </div>
{/block}