{extend name="Public:base" /}
{block name="title"}空间概览{/block}
{block name="main"}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="{:url('create')}" class="list-group-item">
                    {:lang('bucket_index_new')}
                </a>
                {foreach $bucket_list as $k => $v}
                <a href="{:url('Bucket/index', ['id' => $v->id])}" class="list-group-item {if $bucket_info->id == $v->id}active{/if}">{$v.name}</a>
                {/foreach}
            </div>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li><a href="{:url('Bucket/index')}">{:lang("header_nav_title_bucket")}</a></li>
                <li><a href="{:url('Bucket/index', ['id' => $bucket_info->id])}">{$bucket_info.name}</a></li>
                <li class="active">{:lang('bucket_index_tab3_title')}</li>
            </ol>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{:url('Bucket/index', ['id' => $bucket_info->id])}">{:lang('bucket_index_tab1_title')}</a></li>
                <li role="presentation"><a href="{:url('Bucket/file', ['id' => $bucket_info->id])}">{:lang('bucket_index_tab2_title')}</a></li>
                <li role="presentation" class="active"><a href="{:url('BucketDomain/create', ['bucket_id' => $bucket_info->id])}">{:lang('bucket_index_tab3_title')}</a></li>
            </ul>
            <form action="{:url('save', ['bucket_id' => $bucket_info->id])}" class="form-horizontal ajax-form margin-top-20">
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-11">
                        {:lang('bucket_domain_create_format_alert_domain')}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="domain"><font color="red">*</font>{:lang('bucket_domain_create_input_domain')}</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="domain" name="domain" placeholder="{:lang('bucket_domain_create_input_domain')}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <button type="submit" class="btn btn-default">{:lang('bucket_domain_create_button_submit')}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}